*{

    margin: 0;
    padding: 0;

}

ul{

    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

ul > li{

    cursor: pointer;
    font-size: 18px;

}